.page {
  color: var(--base-text-color, #f1b2ce);
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image, url('/images/cover-image-dark.png'));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin: 0 auto;
  padding: var(--padding-min);
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  inset-block-start: var(--decor-inset);
  inset-inline-end: var(--decor-inset);
  inline-size: 25px;
  aspect-ratio: 1;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  inset-inline-start: var(--decor-inset);
  inset-block-end: var(--decor-inset);
  inline-size: 25px;
  aspect-ratio: 1;
}

.rec-light {
  position: absolute;
  color: var(--accent-color);
  inset-block-start: 13px;
  inset-inline-end: 38px;
}

.rec-light::after {
  content: '';
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inset-block-end: 8px;
  inset-inline-end: -19px;
  inline-size: 9px;
  aspect-ratio: 1;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  inline-size: 70px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-block: 3px;
  color: var(--accent-color);
  line-height: 102%;
  text-transform: lowercase;
  background-color: transparent;
  inline-size: 100%;
}

.header__theme-menu-button:hover {
  border-block-end-color: var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: 1px solid var(--focus-border-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.main__title {
  justify-self: start;
  align-self: center;
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--main-title-fs);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--bg-accent-color);
}

.header__text {
  justify-self: end;
  align-self: center;
  font-weight: 700;
  line-height: 130%;
  inline-size: max(355px, 50%);
}

.title-decor {
  color: var(--base-title-color);
  background-color: var(--bg-accent-color);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding-inline: var(--padding-min);
  padding-block: var(--content-padding-block);
}

.container__section {
  display: grid;
  gap: 20px;
}

.container__section_gallery {
  gap: 10px;
}

.container__title {
  color: var(--accent-color);
}

.article-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__sub-title {
  font-weight: inherit;
}

.content__text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--bg-accent-color);
}

.content__text-link:hover {
  border-block-end: 1px solid var(--base-text-color);
}

.content__text-link:focus {
  outline: none;
}

.content__text-link:focus-visible {
  outline: 1px solid var(--base-text-color);
}

.gallery-image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

.footer {
  display: grid;
  justify-self: center;
  padding: var(--padding-min);
  block-size: 100vh;
  min-inline-size: 100%;
  min-block-size: 668px;
}

.footer__title {
  justify-self: center;
  align-self: center;
}

@media (width >= 768px) {
  :root {
    --padding-min: 20px;
    --content-padding-block: 60px;
    --decor-inset: 20px;
    --main-title-fs: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .rec-light {
    inset-block-start: 23px;
    inset-inline-end: 48px;
  }

  .main__title {
    margin-inline-start: -20px;
  }

  .container {
    gap: 80px;
  }

  .container__section {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .container__section_gallery {
    grid-template-rows: repeat(4, min-content);
  }

  .container__section_gallery .title-decor {
    grid-column: span 3;
  }

  .container__section_alt-layout .article-wrapper {
    grid-column: span 3;
  }

  .container__title {
    min-inline-size: 236px;
  }

  .article-wrapper {
    grid-column: span 2;
  }

  .gallery-image:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .gallery-image:nth-child(3) {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .gallery-image:nth-child(4) {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .gallery-image:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
  }

  .gallery-image:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4;
  }

  .footer__title {
    margin-inline-start: 0;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .container__section_alt-layout .article-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
