/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image, url('/images/cover-image-dark.png'));
  background-color: var(--main-color, #000028);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  color: var(--base-text-color, #F1B2CE);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  margin: 0 auto;
  padding: var(--padding-s);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-start: var(--decor-inset);
  inset-inline-end: var(--decor-inset);
  inline-size: 25px;
  aspect-ratio: 1;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-inline-start: var(--decor-inset);
  inset-block-end: var(--decor-inset);
  inline-size: 25px;
  aspect-ratio: 1;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.rec-light {
  position: absolute;
  inset-block-start: var(--decor-inset);
  inset-inline-end: 38px;
  color: var(--accent-color);
}

.rec-light::after {
  content: '';
  position: absolute;
  inset-block-end: 6px;
  inset-inline-end: -19px;
  display: inline-block;
  inline-size: 9px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  border: none;
  padding-inline: 13px;
  color: var(--accent-color);
  line-height: 93%;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.main__title {
  align-self: center;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--title-color);
}

.header__text {
  justify-self: end;
  align-self: center;
  font-weight: 700;
  line-height: 130%;
  inline-size: max(355px, 50%);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.container {
  display: grid;
  gap: 50px;
  padding-block: var(--content-padding-block);
  padding-inline: var(--padding-s);
}

.container__content {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 20px;
}

.container__content_alt-layout {

}

.container__content_gallery {
  gap: 10px;
}

.container__title {
  color: var(--accent-color);
}

.article-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sub-title {
  font-weight: inherit;
}

.content__text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.content__text-link:hover {
  text-decoration: underline;
}

.gallery-image {
  inline-size: 100%;
}

.footer {
  display: grid;
  justify-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  margin: auto;
  padding: var(--padding-s);
}