/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url('/images/cover-image-dark.png');
  --main-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --base-text-color: #F1B2CE;
  --padding-s: 10px;
  --content-padding-block: 40px;
  --decor-inset: 10px;
}
